/bin/
/node_modules/
/target/
/tmp/
/.apt_generated/
/.idea/
/.pentaho/
/.settings/
/.vscode/
/.classpath
/.metadata
/.project
/.factorypath
/dependency-reduced-pom.xml
/project.properties
*.DS_Store
*.bak
*.class
*.jar
*.launch
*.log
*.tar.gz
*.tgz
*.tmp
*.zip